{% extends "admin/base_site.html" %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
<!--<script type="text/javascript" src="http://apps.bdimg.com/libs/vue/1.0.14/vue.min.js"></script>-->


<!--------------------main-fram---------------------------------->
<script type="text/javascript">
	Vue.config.debug = true
	studio={{studio | safe}}
	//{
	//	pk:'{{studio.pk}}'
	//	name:'{{studio.name}}',
	//	logo:'{{studio.logo}}',
	//}
	

	Vue.config.delimiters = ['[[', ']]']

	Vue.component('second-page',{template:'#second-page'})
	errors={}
	$(function () {
		var t=new Vue({
			el:'#vue_content',
			data:{
				studio:studio,
				face_page:'first-page',
				errors:errors,
			},
			methods:{
				save:function () {
					alert('wahaha')
					var self=this;
					var post_data={
						save_studio:{studio:studio}
					}
					$.post('',JSON.stringify(post_data),function (data) {
						alert(data)
						t.$refs.fp.update_errors(data.save_studio.errors)
			
					})
				}
			}
		})
	})
</script>

<div id='vue_content'>
	<div id='logo_div'>
		<h1 v-text='studio.name'></h1>
	</div>
	
	<ul class='menu'>
		<li @click="face_page='first-page'" 
			:class="{'active':face_page=='first-page'}">Studio Infomation</li>
		<li @click="face_page='second-page'" 
			:class="{'active':face_page=='second-page'}">Apps</li>
	</ul>

	<button name="test" type="button" value="val" @click="save()">Save</button>

	<first-page v-show='face_page=="first-page"' v-ref:fp ></first-page>
	<second-page v-show='face_page=="second-page"'></second-page>

</div>


<!------------------------first-page------------------>
{% include "studio/first-page.html" %}


<!------------------second-page---------------------->
<template id='second-page'>
	<div>
		this is second-page
	</div>
</template>

<!-------------------over----------------------------->
<style type="text/css" media="screen" id="test">
	#logo_div{
		width:200px;
		height:100px;
		border: 1px solid #999;
	}
	.menu li{
		display: inline-block;
		padding: 20px;
	}
	.menu .active{
		border-bottom: 1px solid red;
	}
	.fieldWrapper input,.fieldWrapper textarea{
		width:90%;
	}
	.fieldWrapper input{
		height:30px;
	}
	.cell{
		vertical-align: top;
		width:45%;
		display: inline-block;
	}
	.row-title{
		margin-top:30px;
		margin-bottom:30px;
		
	}
	.error{
		color: red;
	}
	.error input,.error textarea{
		border: 1px solid red;
	}
</style>


{% endblock %}